@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
@import "config";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-stack;
}

html {
  background-color: $light-gray;
}

.qr__wrapper {
  height: 100vh;
  display: flex;
}

.qr__content {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  background-color: $white;
  max-width: 320px;
  height: 500px;
  padding: 16px;
  border-radius: 20px;

  figure {
    display: flex;
    width: 100%;
  }

  img {
    width: 100%;
    border-radius: 12px;
  }

  h1 {
    text-align: center;
    font-size: 22px;
    color: $dark-blue;
  }

  p {
    text-align: center;
    font-size: 15px;
    color: $grayish-blue;
    padding: 0px 20px;
  }
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding-bottom: 8px;
  display: flex;
  justify-content: center;

  a {
    font-weight: 700;
    color: $dark-blue;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

@media (max-width: 420px) {
  .footer__content {
    text-align: center;
    font-size: 14px;
  }
}
